.html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.body {
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}
.a{
	
    color: #009a61;
    text-decoration: none;

}
.Provision{
	 margin-right: 15px;
	 color: #255f49;
}
.btn-primary{
	 color: #fff;
	background-color:#009a61;   
    border-color: #008151;
}
.btn-primary1{
	 color: #fff;
	background-color:#009a61;   
    border-color: #008151;
    margin-left: 120px;
}
.ml5{
	color:#255f49;
}
.first_block{
 
    background-color: #f3f3f3;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	}
button.close{
    padding: 1;
    cursor: pointer;
    background: transparent;
    border: 0;
	-webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.form-item checkboxes{
	
margin-top: -10px;
}
